<div class="container my-3">
    <div class="d-flex flex-column align-items-center">
        <h2 class="blue-font">
            <img src="/Assets/Images/home/students.png" alt="Students" class="home-banner-icon mx-3" />
            Our Students
        </h2>
        <div class="row">
            <div class="col-md-6 my-2">
                <div class="media pl-2 pt-4 pr-3 m-1 home-story-card">
                    <img src="/Assets/Images/home/student-girl-1.png" class="img-fluid" alt="Student 1">
                    <div class="media-body ml-2">
                        <h5 class="mt-0">The most important reason for me to study in Montreal is its very unique bilingual culture that can help me develop strong language abilities.</h5>
                        <div class="d-flex justify-content-between">
                            <p>Ashley, Rosemount High School</p>
                            <a href="http://bit.ly/2Xt1epU" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="media pl-2 pt-4 pr-3 m-1 home-story-card">
                    <img src="/Assets/Images/home/student-girl-2.png" class="img-fluid" alt="Student 2">
                    <div class="media-body ml-2">
                        <h5 class="mt-0">
                            I was very impressed by the politeness and courtesy of people in Montreal. I really enjoy the less pressured life here.
                        </h5>
                        <div class="d-flex justify-content-between">
                            <p>Parmis, F.A.C.E. School</p>
                            <a href="http://bit.ly/2JVdCvO" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="media pl-2 pt-4 pr-3 m-1 home-story-card">
                    <img src="/Assets/Images/home/student-boy-2.png" class="img-fluid" alt="Student 3">
                    <div class="media-body ml-2">
                        <h5 class="mt-0">
                            In EMSB schools, I have more freedom to share my ideas with my classmates and much more opportunities to help each other in group work.
                        </h5>
                        <div class="d-flex justify-content-between">
                            <p>Alessandro, Lester B. Pearson High School</p>
                            <a href="http://bit.ly/2HUXOa5" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="media pl-2 pt-4 pr-3 m-1 home-story-card">
                    <img src="/Assets/Images/home/student-girl-3.png" class="img-fluid" alt="Student 4">
                    <div class="media-body ml-2">
                        <h5 class="mt-0">I choose to study in Montreal because of its very unique bilingual culture that can help me develop strong language abilities.</h5>
                        <div class="d-flex justify-content-between">
                            <p>Michelle, James Lyng High School</p>
                            <a href="http://bit.ly/2Uvao8e" target="_blank">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
