
@{
    ViewBag.Title = "AllSchools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    @*EMSB Cals*@
    @Html.Partial("_EmsbCals")
    @*School Picker*@
</div>
<h2>AllSchools</h2>

