
@{
    ViewBag.Title = "Westmount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model EMSB_Intl_Cs_MCV.Models.School

<div class="text-center">
    @Html.Partial("_EmsbCals")

    <div class="container px-5">

        <nav aria-label="breadcrumb" class="mx-2 school-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/Schools" class="lato-font">School Picker</a>
                </li>
                <li class="breadcrumb-item active lato-font" aria-current="page">
                    @Model.Name
                </li>
            </ol>
        </nav>

        @Html.Partial("_IndividualSchool")


    </div>
</div>