@using EMSB_Intl_Cs_MCV.Models
@model dynamic

@{
    ViewBag.Title = "Ziplining";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">

    @Html.Partial("_StudentTitle")

    @Html.Partial("_IndividualFieldTrip")

</div>
