@using EMSB_Intl_Cs_MCV.Models
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contacts</h2>
<div class="container text-center">
    @*Leader*@
    @{ Html.RenderAction("Leader", "Contacts"); }
    <div class="row">
        @*Admin Tech*@
        
        
        @*Advisors*@
    </div>
    
</div>

