<div class="text-left">
    <div class="container my-3 border-bottom border-primary pb-1 text-center">
        <h2 class="blue-font">Introduction to Quebec Education System in 6 Languages</h2>
    </div>
    <div class="mb-5">
        <div class="row">
            <div class="col-xl-4 col-sm-6 my-2">
                <a role="button" class="btn btn-link text-decoration-none" href="/Assets/Pdfs/qcEdu/english-qc-edu.pdf" target="_blank">
                    <div class="media">
                        <img src="/Assets/Images/nationalFlags/qc-edu-english.png" class="admission-qc-edu-nf" alt="English version">
                        <div class="media-body">
                            <h5 class="mt-2 ml-2 font-weight-normal admission-qc-edu-title">Education in Quebec</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-sm-6 my-2">
                <a role="button" class="btn btn-link text-decoration-none" href="/Assets/Pdfs/qcEdu/english-qc-edu.pdf" target="_blank">
                    <div class="media">
                        <img src="/Assets/Images/nationalFlags/qc-edu-english.png" class="admission-qc-edu-nf" alt="English version">
                        <div class="media-body">
                            <h5 class="mt-2 ml-2 font-weight-normal admission-qc-edu-title">Education in Quebec</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-sm-6 my-2">
                <a role="button" class="btn btn-link text-decoration-none" href="/Assets/Pdfs/qcEdu/english-qc-edu.pdf" target="_blank">
                    <div class="media">
                        <img src="/Assets/Images/nationalFlags/qc-edu-english.png" class="admission-qc-edu-nf" alt="English version">
                        <div class="media-body">
                            <h5 class="mt-2 ml-2 font-weight-normal admission-qc-edu-title">Education in Quebec</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-sm-6 my-2">
                <a role="button" class="btn btn-link text-decoration-none" href="/Assets/Pdfs/qcEdu/english-qc-edu.pdf" target="_blank">
                    <div class="media">
                        <img src="/Assets/Images/nationalFlags/qc-edu-english.png" class="admission-qc-edu-nf" alt="English version">
                        <div class="media-body">
                            <h5 class="mt-2 ml-2 font-weight-normal admission-qc-edu-title">Education in Quebec</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-sm-6 my-2">
                <a role="button" class="btn btn-link text-decoration-none" href="/Assets/Pdfs/qcEdu/english-qc-edu.pdf" target="_blank">
                    <div class="media">
                        <img src="/Assets/Images/nationalFlags/qc-edu-english.png" class="admission-qc-edu-nf" alt="English version">
                        <div class="media-body">
                            <h5 class="mt-2 ml-2 font-weight-normal admission-qc-edu-title">Education in Quebec</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-sm-6 my-2">
                <a role="button" class="btn btn-link text-decoration-none" href="/Assets/Pdfs/qcEdu/english-qc-edu.pdf" target="_blank">
                    <div class="media">
                        <img src="/Assets/Images/nationalFlags/qc-edu-english.png" class="admission-qc-edu-nf" alt="English version">
                        <div class="media-body">
                            <h5 class="mt-2 ml-2 font-weight-normal admission-qc-edu-title">Education in Quebec</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
